.header {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.promo-banner {
  background: #f9f9f9;
  padding: 0px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 0px;
  transition: opacity 0.5s ease-out;
}

.promo-banner.fade-out {
  opacity: 0;
}

.promo-banner-close {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.header-content {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo-container {
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.logo-container img {
  height: 60px;
  max-width: 100%;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 12px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.nav-menu li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
  cursor: pointer;
}

.nav-menu li a:hover {
  color: #d4a373;
  text-decoration: underline;
  text-underline-offset: 15px;
}

/* Header Right Section */
.header-right {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 12px;
}

.icon-user,
.icon-cart {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.icon-cart {
  display: flex;
  align-items: center;
}

.icon-user:hover,
.icon-cart:hover {
  color: #d4a373;
  transition: color 0.3s;
}

.icon-cart i,
.icon-user i {
  margin-right: 5px;
}

.icon-cart span {
  background: #ffffff;
  padding: 5px 8px;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

/* currency Dropdown + child bits */
.currency-dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #000;
  font-size: 12px;
}

.dropdown-button span {
  margin-left: 5px;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #fff;
  display: block;
}

.dropdown-button:hover {
  color: #d4a373;
  transition: color 0.3s;
}

.dropdown-menu li {
  padding: 5px 15px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.dropdown-menu li a:hover {
  color: #d4a373;
  background: none;
}

/* LOGIN MODAL :) */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.384);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 0;
  text-align: center;
  width: 300px;
  box-sizing: border-box;
}

.modal-content input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
}

.modal-content button:active {
  background: #d4a373;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: auto;
}
