.journal-page {
  min-height: 60vh;
  padding: 20px 0;
}

.journal-page-title {
  font-size: 20px;
  color: #5a5a5a;
  font-family: Helvetica, Helvetica Neue, Arial, Lucida Grande, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
